/* CSS SYNTAX */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 2rem;
}

#myid{
    padding: 2rem;
    margin: 2rem;
    background-color: aqua;
}

.myclass p, h1{
    color: white;
    font-style: italic;
    border: 2px dashed pink;
    padding: 2rem;
    margin: 2rem;
}


details{
    
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background-color: beige;
}

p.para{
    color: red;
    padding: 4rem 1rem;
    background-color: cyan;
    border: 2px solid yellow;
    margin: 2rem 0;
}

/* input[type="text"] { */
    input{
    width: 300px;
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 2px solid darkgray;
}

input:focus{
    border: none;
}

/* p
{
    background-color: aqua;
    color: red;
    text-align:center;
}

.wrapper
{
    background-color:antiquewhite;
    padding: 1rem;
    border: 1px solid red;
}

body
{
    background-color:#ccc;
    margin: 2 rem;
}

.wrapper p
{
    color:  purple;
    font-size: larger;
}

p.mypre {

    color: blue;
} */
/* .para1,#myid, h1, h2, header
{
    background-color: yellow;
    color: black;
    text-align:center;
} */

/* #myid
{
    color: yellow;
    padding: 2rem;
    background-color: bisque;
} */
.bg{
    /* background-image: url(/assets/img/bentley.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh; */

    background: url(../img/bentley.jpg) fixed no-repeat center;
    background-size: cover;
    border: 3px solid red;
    cursor: ew-resize;
    color:pink;


    height: 100vh;

}
.bg h1{
font-size: 5rem;
text-decoration: underline;
text-decoration-style: dashed;
text-decoration-color:green;


text-align: center;
}


pre,b,p {
    color:aqua;
    background-color: blueviolet;
    /* text-align:;  */
    /* height: 400px; */
    vertical-align:middle;
    text-indent: 50px;
    text-transform: capitalize;
    word-spacing: 0.5;
    line-height: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5;
    font-style: italic;
    font-weight: bold;
}